<ion-side-menus>
    <!-- Left menu -->
<ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
    <h1 class="title">Account</h1>
    </ion-header-bar>
    <ion-content>
    <ion-list>
    <a class="item item-icon-left item-icon-right" href="">
    <i class="icon ion-person-add"></i>
    Profile
    <i class="icon ion-chevron-right"></i>
    </a>

    <a class="item item-icon-left item-icon-right" href="">
    <i class="icon ion-settings"></i>
    Settings
    <i class="icon ion-chevron-right"></i>
    </a>

    <a class="item item-icon-left item-icon-right" href="">
    <i class="icon ion-log-out"></i>
    Logout
    <i class="icon ion-chevron-right"></i>
    </a>

    </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-dark">
    <h1 class="title">@aditya</h1>
</ion-footer-bar>
</ion-side-menu>


<ion-side-menu-content ng-controller="DishesListController">
        <!-- Main content, usually <ion-nav-view> -->
    <ion-header-bar class="bar-positive">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">All Restaurants</h1>
</ion-header-bar>

<ion-content>
<ion-list>
<a class="item item-avatar" ng-href="#/restraunt/{{ Restaurant.id }}" ng-repeat="Restaurant in RestrauntsData">
    <img ng-src="{{ 'img/icons/' + Restaurant.name[0].toLowerCase() + '.png' }}">
    <h2 ng-bind="Restaurant.name"></h2>
    <p ng-bind="Restaurant.address"></p>
    </a>
    </ion-list>
    </ion-content>

    </ion-side-menu-content>



    </ion-side-menus>