<ion-content class="bg-image">
    <div class="row app-name-container">
        <h1 class="app-name col">HI Restaurant</h1>
    </div>

    <div class="row">
        <a href="#/login" class="button button-block button-positive" style="width: 100%;">
            Login
        </a>
    </div>
    <div class="row">
        <a href="#/signup" class="button button-block button-balanced" style="width: 100%;">
            Signup
        </a>
    </div>
</ion-content>