<ion-pane class="bg-image">
    <div class="row app-name-container">
        <h1 class="app-name col">HI Restaurant</h1>
    </div>

    <div class="list list-inset">
        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password">
        </label>
        <div class="row">
            <a href="#/home" class="button button-block button-positive" style="width: 100%;">
                Login
            </a>
        </div>
    </div>

</ion-pane>