<ion-pane class="bg-image">

    <div class="row app-name-container">
        <h1 class="app-name col">HI Restaurant</h1>
    </div>

    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Confirm Password">
        </label>
        <div class="row">
            <a href="#/login" class="button button-block button-balanced" style="width: 100%;">
                Signup
            </a>
        </div>
    </div>
</ion-pane>