.bg-image {
    background-image: url('../img/bk.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.app-name-container{
    margin-top:30%;
}

.app-name{
    color:#FFFFFF;
    text-align: center;

}